[LayoutSettings]
backgroundStyle=1
color=green
customBackground=
customTextColor=
icon=
lastUsedActivity=106b4af3-ca25-4c86-ac0a-76598402a183
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
